{% extends "base.html" %}

{% block body %}
<h3>Update Record's</h3>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label>Name</label>
        <input type="text" class="form-control" id="name", name='name' value={{i.name}}>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="text" class="form-control" id="mail", name='mail' value={{i.mail}}>
    </div>

    <div class="mb-3">
        <label>Course</label>
        <input type="text" class="form-control" id="course", name='course' value={{i.course}}>
    </div>
    
    <div class="mb-3">
        <label>College</label>
        <input type="text" class="form-control" id="college", name='college' value={{i.college}}>
    </div>

    <div class="mb-3">
        <label>Upload_id</label>
        <input type="file" class="form-control" id="idc", name='idc'>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>

</form>
{% endblock body %}